/*
=========================================================
Name : HomeMainSection.css
Assignment : Assignment 4
Author(s) : Rayyan Ahmed, Muhammed Umar Khan
Submission : Mar 24, 2024
Description : Styling for the HomeMainSection component
=========================================================
*/
/*

.home-main-section {
    padding: 20px;
  }
  
  .section-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px;
  }
  
  .about-us-section {
    margin-bottom: 40px; 
  }

  
  .shop-now-button {
    background-color: black; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    text-decoration: none; 
    cursor: pointer; 
  }
  
  .shop-now-button:hover {
    background-color: #0056b3;
  }
  
  .customer-reviews-section {
    margin-top: 40px; 
  }
  
  .customer-review {
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 20px; 
  }
  
  .customer-name {
    font-weight: bold; 
  }
  
  .customer-rating {
    color: #ffc107; 
  }
  
  .customer-review-content {
    margin-top: 10px; 
  }

  */
  