/*
=========================================================
Name : Products.css
Assignment : Assignment 4
Author(s) : Rayyan Ahmed, Muhammed Umar Khan
Submission : Mar 24, 2024
Description : css stlying for the product page 
=========================================================
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Main layout styling */
  .main-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
  }
  

  /* Product list and cart container */
  .content-container {
    display: flex; 
    flex-grow: 1; 
    padding: 20px; 
  }
  
  /* Product list styling */
  .product-list {
    width: 70%; 
    margin-right: 20px; 
  }
  
  /* Product item styling */
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Adjusts the product image size */
  .product-item img {
    width: auto;
    max-width: 200px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Shopping cart styling */
  .cart {
    flex-shrink: 0; 
    width: 300px; 
    padding: 10px;
  }
  
  /* Cart item styling */
  .cart-item img {
    max-width: 200px; 
    height: auto; 
    margin-right: 10px; 
  }

  .cart-title {
    font-weight: bold; 
    font-size: 24px; 
    margin-bottom: 20px; 
  }
  
  /* Button styling */
  button {
    background-color: #0044cc;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #003399;
  }
  
  